body {
  background: linear-gradient(135deg, #3f5da2, #2e7d32);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.forgot-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f3f4f6;
    background: linear-gradient(135deg, #3f5da2, #2e7d32);

  }
  
  .forgot-password-box {
    background: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .forgot-password-box h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  .submit-btn {
    width: 100%;
    background-color: #3b82f6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #2563eb;
  }
  