.welcome-container {
  text-align: center;
  padding: 100px;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  animation: fadeIn 2s ease-in-out;
}

p {
  font-size: 1.2rem;
  color: #666;
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
